name: "CI"

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  release:
    types: [published]
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ macOS-latest, ubuntu-latest, windows-latest ]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x

      - run: dotnet --info

      - if: contains(matrix.os, 'macOS') || contains(matrix.os, 'ubuntu')
        run: ./build.sh
      - if: matrix.os == 'windows-latest' && !contains(github.ref, 'refs/tags/')
        run: ./build.ps1
      - if: matrix.os == 'windows-latest' && github.event_name == 'release' && github.event.action == 'published'
        run: |
          ./build.ps1
          dotnet nuget push .\artifacts\*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}